<div class="content">
    <form class="form" [formGroup]="form">
        <div class="form-group vertical">
            <mat-form-field appearance="outline">
                <mat-label>Cím</mat-label>
                <input matInput type="text" [formControl]="formControls.title" />
            </mat-form-field>
        </div>
        <div class="form-group vertical">
            <mat-form-field appearance="outline">
                <mat-label>Előadó</mat-label>
                <input matInput type="text" [formControl]="formControls.presenter" />
            </mat-form-field>
        </div>
    </form>

    <div class="actions">
        <button mat-flat-button color="basic" (click)="cancel()">Mégse</button>
        <button mat-flat-button color="accent" (click)="submit()" [disabled]="form.invalid">Küldés</button>
    </div>
</div>