<div class="content">
    <form class="form" [formGroup]="form">
        <div class="form-group vertical">
            <label class="form-group-label">Cím</label>
            <mat-form-field appearance="outline">
                <input type="text" [formControl]="formControls.title" />
            </mat-form-field>
        </div>
        <div class="form-group vertical">
            <label class="form-group-label">Előadó</label>
            <mat-form-field appearance="outline">
                <input type="text" [formControl]="formControls.presenter" />
            </mat-form-field>
        </div>
    </form>

    <div class="actions">
        <button mat-flat-button color="basic" (click)="cancel()">Mégse</button>
        <button mat-flat-button color="accent" (click)="submit()" [disabled]="form.invalid">Küldés</button>
    </div>
</div>