@import 'colors';

mat-sidenav{
    margin: 16px;
    width: 200px;
    border-right: none;
    border-radius: 10px;
    padding: 16px;
    text-align: center;

    color: white;
    background: $purple-heart;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
}


mat-sidenav-container {
    height: calc(100vh - 65px);
}

.header-spacer {
    flex: 1 1 auto;
  }

.profile-icon{
    font-size: 36px;
}
