.flex-box {
    display: flex;

    &.direction-column {
        flex-direction: column;
    }

    &.space-between {
        justify-content: space-between;
    }
}

.conf-content {
    padding: 20px;
}