.flex-box {
    display: flex;

    &.direction-column {
        flex-direction: column;
    }

    &.space-between {
        justify-content: space-between;
    }
}

.header {
    .mat-button-base {
        display: inline;
        margin-left: 10px;
    }
}

.conf-content {
    padding: 20px;
}

.mat-button-base {
    height: 36px;
}