<div class="conf-content">
    <div class="flex-box space-between">
        <h2>Konferencia részletei</h2>
        <button mat-flat-button color="accent" *ngIf="!formDisabled" (click)="updateConference()"
            [disabled]="form.invalid">Frissítés</button>
    </div>
    <form [formGroup]="form" class="form">
        <div class="form-group vertical">
            <label class="form-group-label">Név</label>
            <mat-form-field appearance="outline">
                <input matInput [formControl]="formControls.name" [readonly]="formDisabled" />
            </mat-form-field>
        </div>
        <div class="form-group vertical">
            <label class="form-group-label">Időtartam</label>
            <mat-form-field appearance="outline">
                <mat-date-range-input [formGroup]="formControls.dateRange" [rangePicker]="picker">
                    <input matStartDate formControlName="start" [readonly]="formDisabled">
                    <input matEndDate formControlName="end" [readonly]="formDisabled">
                </mat-date-range-input>
                <mat-datepicker-toggle *ngIf="!formDisabled" matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="form-group vertical" *ngIf="!formDisabled">
            <label class="form-group-label">Szerkesztők</label>
            <mat-form-field appearance="outline">
                <mat-select [formControl]="formControls.editors" multiple>
                    <mat-option *ngFor="let user of users" [value]="user.id">{{ user.username }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>

    <h2>Szekciók</h2>
    <app-table [dataSource]="sections" [columns]="sectionColumns" (rowClicked)="onSectionClicked($event)"></app-table>
</div>